.apex__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
  }

.apex__cta img {
  width: 550px;
  height: 320px;
  padding: 1rem;
}

.apex__cta-content {
    display: flex;
    flex-direction: row; /* Change to row to place image and text side by side */
    justify-content: space-between; /* Adjust spacing between image and text */
    align-items: center;
    text-align: left;
    color: #000000;
    width: 100%; /* Ensure the content takes full width */
  }
  
  .apex__cta-left {
    flex: 1; /* Make the image take up 1/2 of the available space */
  }
  
  .apex__cta-right {
    flex: 1; /* Make the text take up 1/2 of the available space */
  }


  @media screen and (max-width: 800px) {
    .apex__cta {
      flex-direction: column;
    }
  
    .apex__cta-left,
    .apex__cta-right {
      width: 100%; /* Make both elements take full width when stacked */
    }
  }

.apex__cta-content_main {
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 30px;
    font-weight: 500;
}

.apex__cta-content_citation_1 {
    font-family: var(--font-family);
    font-size: 7px;
    
}

.apex__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}



@media screen and (max-width: 650px) {
    .apex__cta {
        flex-direction: column;
    }

}

@media screen and (max-width: 550px) {
    .apex__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .apex__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }
}