.apex__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}
.apex__cta img {
    width: 429px;
    height: 260px;
    padding: 2rem;

}

.apex__cta-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #000000;
}

.apex__cta-content_main {
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 30px;
    font-weight: 500;
}

.apex__cta-content_citation_1 {
    font-family: var(--font-family);
    font-size: 7px;
    
}

.apex__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}



@media screen and (max-width: 650px) {
    .apex__cta {
        flex-direction: column;
    }

}

@media screen and (max-width: 550px) {
    .apex__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .apex__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }
}