@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: f1;
  src: url(assets/fonts/Formula1-Regular.ttf);
}

@font-face {
  font-family: logo;
  src: url(assets/fonts/911laser.ttf);
}

@font-face {
  font-family: startf;
  src: url(assets/fonts/911porschav3bold.ttf);
}


:root {
  --font-family: f1;
  --font-family1: logo;
  --font-family2: startf;
  
  --gradient-text: linear-gradient(89.97deg, #00c2c6 1.84%, #8afe2c 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #67faf0 -13.86%, #88f467 99.55%);
  
  --color-bg: #161616;
  --color-footer : #373737;
  --color-blog: #393939;
  --color-text: #949494;
  --color-subtext: #83ff1e;
}