.apex__header {
    display: flex;
    flex-direction: row;
}

.apex__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.apex__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.apex__header-content_main{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.apex__header-content_small {
    font-family: var(--font-family);
    color: #6cbe00;
    font-size: 10px;
}

.apex__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apex__header-image img {
    width: 698px;
    height: 448px;
    border-radius: 10px;
    opacity: 1;
}

.tiltcard {
    width: 700px;
    height: 450px;
    margin: 0 20;
    border-radius: 10px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(6, 236, 217), rgb(175, 230, 48)) border-box;
    border: 1px solid transparent;
}

@media screen and (max-width: 1050px) {
    .apex__header {
        flex-direction: column;
    }

    .apex__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .apex__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .apex__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .apex__header-content__people {
        flex-direction: column;
    }

    .apex__header-content__people p {
        margin: 0;
    }


}

@media screen and (max-width: 490px) {
    .apex__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .apex__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

}